
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Flask CRUD</h1>
    {% if todos|length < 1 %}
    <p>There is nothing to buy for now.</p>
    {% else %}
    <table class="table">
      <thead>
        <tr>
          <th>todos</th>
          <th>status</th>
          <!-- <th>Completed</th> -->
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
        <tr>
          <!-- <td>{{ todo.id }}</td> -->
          <td>{{ todo.title }}</a></td>
          <td>{{todo.status}}</td>
          <td class="text-right"><a class="btn btn-danger btn-sm" href="/delete?id={{ todo.id }}" role="button">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  {% include 'snippets/form.html' %}
</div>
{% endblock content %}
view raw
index.html hosted with ❤ by GitHub
